*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}
:root {
	--black: #212121;
	--grey: #757575;
	--light-blue: #2196f3;
	--white: #ffffff;
	--hero-banner-container: #2f303a;
	--footer-container: #2f303a;
	--team: #f5f4fa;
	--portfolio-button: #f5f4fa;
}

body {
	color: var(--black);
	background-color: var(--white);
	font-family: "Roboto", sens-serif;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 15px;
}

/* główna nawigacja na stronie logo + podstrony + kontakty ===================================== */

.header-line {
	border-bottom: #ececec solid 1px;
}
.menu-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 24px;
	padding-bottom: 24px;
}

.menu-logo {
	text-decoration: none;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: var(--light-blue);
	margin-right: 93px;
}
.menu-logo-title {
	color: #000000;
}
.menu-nav {
	display: flex;
}

.menu-nav-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 46px;
}
.menu-nav-list:last-child {
	margin-right: 0;
}
.menu-nav > ul,
.menu-contacts {
	list-style-type: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.02em;
}
.menu-contacts {
	line-height: 1.15;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 27px;
	gap: 50px;
}
.menu-nav-link {
	text-decoration: none;
	color: var(--black);
}
.menu-nav-link:hover,
.menu-nav-link:focus {
	color: var(--light-blue);
}
.menu-contact-link {
	text-decoration: none;
	color: var(--grey);
}
.menu-contact-link:hover,
.menu-contact-link:focus {
	color: var(--light-blue);
}

/* główny tytuł strony hero ================================================== */

.hero-container {
	background-color: var(--hero-banner-container);
	padding-top: 200px;
	padding-bottom: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero {
	text-align: center;
	width: 700px;
}
.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.37;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--white);
}
.hero-button {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border-color: var(--light-blue);
	color: var(--white);
	background-color: var(--light-blue);
	cursor: pointer;
	margin: 0 auto;
	padding: 10px 41px;
	margin-top: 30px;
}
/* nasze atuty================================================================== */
.features {
	padding-top: 94px;
	padding-bottom: 94px;
}

.features > ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}

.features-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.features-text {
	font-size: 14px;
	line-height: 1.72;
	letter-spacing: 0.03em;
	color: var(--grey);
}
/* about us, czym się zajmujemy, same zdjęcia + tytuł ============================= */
.about {
	padding-bottom: 94px;
}
.about > ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
}
.about-item {
	margin-right: 30px;
}
.about-item:last-child {
	margin-right: 0;
}

/* our team ========================================================================= */

.team {
	background-color: var(--team);
	padding-top: 94px;
	padding-bottom: 94px;
}
.team > ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
}
.team-list-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}
.team-list-position {
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--grey);
}
.team-list figure {
	width: 270px;
	height: 368px;
	background: var(--white);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	text-align: center;
}
.team-item {
	margin-right: 30px;
}
.team-item:last-child {
	margin-right: 0;
}

/*portfolio ===================================================================== */
.button-nav {
	display: flex;
	justify-content: center;
	gap: 8px;
	padding-top: 94px;
}
.button-nav button {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	text-align: center;
	letter-spacing: 0.03em;
	background-color: var(--portfolio-button);
	border-style: hidden;
	border-radius: 4px;
	cursor: pointer;
	margin: 0 auto;
	padding: 6px 22px;
}
.button-nav button:hover,
.button-nav button:focus {
	color: var(--white);
	background-color: var(--light-blue);
}
/* portfolio images =============================================================== */

.portfolio-img > ul {
	list-style-type: none;
}
.button-item {
	margin-bottom: 16px;
}
.portfolio-img-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.portfolio-img-text {
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: var(--grey);
}
.portfolio-img-containers figure {
	width: 370px;
	height: 404px;
	border: 1px solid #eeeeee;
	background: var(--white);
	margin-bottom: 30px;
}
.portfolio-img-containers {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 34px 0 94px;
}
.figcaption-item {
	padding: 20px 24px;
}
/*footer ========================================================================= */

footer {
	background-color: var(--footer-container);
	padding-top: 60px;
	padding-bottom: 60px;
}
.footer-logo {
	text-decoration: none;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: var(--light-blue);
	margin-left: 15px;
}
.footer-logo-title {
	color: var(--white);
}
.footer-adress-list > ul {
	list-style-type: none;
	padding-top: 20px;
	margin-left: 15px;
}
.footer-adress,
.footer-contact {
	text-decoration: none;
	color: var(--white);
	font-style: normal;
	font-size: 14px;
	line-height: 1.72;
	letter-spacing: 0.03em;
}
.footer-item {
	padding-top: 9px;
}
.footer-contact {
	color: rgba(255, 255, 255, 0.6);
}
.hidden {
	display: none;
	opacity: 0;
}
